@font-face {
font-family: "impactLabel";
src: url("Impact_Label_Reversed.ttf");
}
html {
  width: 100vw;
  height: 100vh;
}

#contentBox{
    overflow:hidden;
    margin-left:16px;
    margin-right:16px;
}

#container-top{
  font-family: 'impactLabel';
  overflow:hidden;
  font-size:20px;
  padding-left:16px;
  padding-right:16px;
  background: #101820;
  display: grid;
  grid-template-columns: 192px 192px 192px 192px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
#container-mid{
  overflow:hidden;
  background: #101820;
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 420px;
  color: white;
}
#container-bot{
  font-family: 'impactLabel';
  overflow:hidden;
  font-size:20px;
  padding-left:16px;
  padding-right:16px;
  background: #101820;
  display: grid;
  grid-template-columns: 192px 192px 192px 192px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}


#container-top .tab:nth-child(1){
  background:#f94043;
  border-radius:45px 15px 0px 0px;
  padding:5px;
}
#container-top .tab:nth-child(2){
  background:#f3742d;
  border-radius:45px 15px 0px 0px;
  padding:5px;
}

#container-top .tab:nth-child(3){
  background:#f9961f;
  border-radius:45px 15px 0px 0px;
  padding:5px;
}

#container-top .tab:nth-child(4){
  background:#f9c852;
  border-radius:45px 15px 0px 0px;
  padding:5px;
}

#container-bot .tab:nth-child(1){
  background:#91be6d;
  border-radius:0px 0px 15px 45px;
  padding:5px;
}
#container-bot .tab:nth-child(2){
  background:#44aa8c;
  border-radius:0px 0px 15px 45px;
  padding:5px;
}

#container-bot .tab:nth-child(3){
  background:#57758f;
  border-radius:0px 0px 15px 45px;
  padding:5px;
}

#container-bot .tab:nth-child(4){
  background:#5093cd;
  border-radius:0px 0px 15px 45px;
  padding:5px;
}

#task1 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(-2deg);
}
#task2 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
}
#task3 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(-rotate()2deg);
}
#task4 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(2deg);
}


#task5 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(-2deg);
}
#task6 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
}
#task7 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(-rotate()2deg);
}
#task8 .taskLabel:nth-child(1){
  display: inline-block;
  padding: 0px 10px 0px 10px;
  color: white;
  transform: skewY(2deg);
}

.taskLabel{
  visibility: hidden;
}

/* get rid of scrollbar after bulma */
::-webkit-scrollbar { width: 0px; }

/* @group Blink */
.blink {
	-webkit-animation: blink 1.5s linear infinite;
	-moz-animation: blink 1.5s linear infinite;
	-ms-animation: blink 1.5s linear infinite;
	-o-animation: blink 1.5s linear infinite;
	 animation: blink 1.5s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
