html {
  width: 100vw;
  height: 100vh;
}


#container-top{
  overflow:hidden;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap:80px;
}
#container-mid{
  overflow:hidden;
  background: blue;
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 400px;
}
#container-bot{
  overflow:hidden;
  background: red;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap:80px;
}


/* get rid of scrollbar after bulma */
::-webkit-scrollbar { width: 0px; }

/* @group Blink */
.blink {
	-webkit-animation: blink 1.5s linear infinite;
	-moz-animation: blink 1.5s linear infinite;
	-ms-animation: blink 1.5s linear infinite;
	-o-animation: blink 1.5s linear infinite;
	 animation: blink 1.5s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
